<h2>Compra</h2>
<form id="formBuy" #formBuy="ngForm" (ngSubmit)="buy(formBuy)">
    <div class="title">
        <h3>Usted esta por comprar el siguiente FunkoPop:</h3>
        <h2>{{funko.name}} - {{funko.edition}} por: ${{funko.price}}</h2>
    </div>

    <div>
        <label for="cant">Cantidad:</label>
        <input type="number" name="cant" #cant="ngModel" [(ngModel)]="cantidad">
    </div>

    <div>
        <label for="email">Correo de facturacion:</label>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="correo" required>
        <span *ngIf="email.touched && !email.valid">Campo Obligatorio</span>

    </div>

    <div>
        <label>Costo de envio: </label><span class="prices">${{costoenvio}} - pesos argentinos</span>
    </div>

    <div>
        <label>Precio Final: </label><span class="prices">${{pricefinal}} - pesos argentinos</span>
    </div>

    <div id="button">
        <input type="submit" value="Comprar" [disabled]="!formBuy.form.valid"/>
    </div>


</form>