<div class="conteiner">
    <router-outlet></router-outlet>
    <aside>
        <ul class="nav">
            <li id="car"><a [routerLink]="['/trolley']">Carrito ({{trolley.length}})</a></li>
        </ul>
        <ul class="nav">
            <li><a [routerLink]="['/']">Todos</a></li>
            <li *ngIf="access"><a id="addF" [routerLink]="['/addfunko']">Añadir FunkoPop</a></li>
            <li id="collections"> <a id="button-menu" (click)="click()">Colecciones</a>
                
                <ul class="list-collections">
                    <li><a [routerLink]="['/collections/Star Wars']">Star Wars</a></li>
                    <li><a [routerLink]="['/collections/Marvel']">Marvel</a></li>
                    <li><a [routerLink]="['/collections/Peliculas']">Peliculas</a></li>
                </ul>

            </li>

        </ul>
        <login></login>
    </aside>
</div>